p {
  margin: 0 0;
}

.end {
  margin: 100px 100px;
  text-align: center;
}

h2 {
  margin: 40px 20px;
}

.hl2-7a {
  width: 200px;
  border-radius: 10px;
}

.hl2-7b {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.hl2-7c {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 70%;
  border-radius: 100px;
}

.textbox-7d {
  font-size: 20px;
  width: 180px;
  height: 30px;
  padding: 10px 15px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 205, 205);
}

.textbox-7e {
  font-size: 15px;
  width: 500px;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.titlebox-7f {
  font-family: arial;
  color: rgb(122, 9, 9);
  font-size: 15px;
  margin-bottom: 5px;
}

.textbox-7f {
  width: 345px;
  font-size: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: rgba(122, 9, 9, 0.5);
  margin-bottom: 15px;
}

.policy-7f {
  font-size: 15px;
  color: rgb(122, 9, 9);
  margin-bottom: 18px;

}

.agree-button-7f {
  color: white;
  font-size: 16px;
  background-color: rgb(119, 99, 167);
  padding: 15px 130px;
  border: none;
  border-radius: 65px;
  cursor: pointer;
}

.hl2-7g {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 60%;
  border-radius: 25px;
  vertical-align: middle;
}

.tweet-input-7g {
  font-size: 16px;
  width: 250px;
  border: none;
  margin: 5px 5px; 
}

.tweet-button-7g {
  background-color: rgb(141, 141, 245);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
